@import url("font-awesome.min.css");

#nav > ul > li {
  display: inline-block;

  -moz-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out, border-color 0.35s ease-in-out;
}

#nav > ul > li:hover {
  color: rgba(192, 192, 192, 0.35);
}

#nav > ul > li > a,
#nav > ul > li > span {
  display: block;
  color: inherit;
  text-decoration: none;
  border: 0;
  outline: 0;
}

#nav > ul > li > ul {
  display: none;
  position: absolute;
}
#nav > ul > li:hover > ul {
  display: block;
}
#nav > ul > li ul > li > a {
  text-decoration: none;
  font-size: 0.8em;
}
#nav > ul > li ul > li > a:hover {
  color: #cdde13;
}

/* Icons */

.icon {
  text-decoration: none;
}

.icon:before {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.25em;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon > .label {
  display: none;
}
.icon.nav {
  color: #39454b;
  margin: 12px;
}
.icon.nav:hover {
  color: rgb(206, 216, 221);
}


#logo {
	position: absolute;
	left: 1em;
	top: 0;
	height: 3em;
	line-height: 3em;
	letter-spacing: -1px;
}


		#logo a span {
			color: #6e6e6e;
			font-weight: normal;
			vertical-align: center;
			float: left;
	}

			#logo a:hover span {
				color: #fff;
		}

#nav {
	position: absolute;
	right: 0.5em;
	top: 0;
	height: 3em;
	line-height: 3em;
}

#nav.dark {

	position: relative;
}

	#nav ul {
		margin: 0;
	}

		#nav ul li {
			display: inline-block;
			margin-left: 0.5em;
			font-size: 0.9em;
			color: #199467;
		}

			#nav ul li a {
				display: block;
				color: inherit;
				text-decoration: none;
				height: 3em;
				line-height: 3em;
				padding: 0 0.7em;
				outline: 0;
				color: #6e6e6e;
				text-transform: uppercase;
			}
			#nav ul li a a {

				text-decoration: none;

			}
			#nav ul li a:hover, #nav ul li a.active {
				color: #fff;
			}
			#nav ul li a.button{

				color: #d7da23;
			}
			#nav ul li a.button:hover {
				background-color: #fff;

			}

			#nav ul li a.icon {
				display: inline;
			}

@media screen and (min-width: 737px) {
  .desktop {
    display: block;
  }
  .app {
    display: none;
  }
}

/* Mobile */

@media screen and (max-width: 736px) {
	#logo {
		text-align: left;
		position: relative;
		left: 0;
		top: 0;
		height: 2.5em;
		line-height: 2.5em;
	}

		#logo a {
			font-size: 1em;
		}

  .desktop {
    display: none;
  }
  .app {
    display: block;
  }
}
